<h1>Add a new Cocktail Item</h1>

<form action="/cocktail-items" method="post">
 <label for="product_name">Product Name:</label>
 <input type="text" name="product_name" id="product_name">

 <label for="description">Product Description:</label>
 <input type="text" name="description" id="description">

 <label for="quantity">Quantity:</label>
 <input type="number" name="quantity" id="quantity">

 <label for="buy_cost">Purchase Cost:</label>
 <input type="number" name="buy_cost" id="buy_cost">

 <label for="sell_price">Sell Price:</label>
 <input type="number" name="sell_price" id="sell_price">

 <label for="select_producer">Producer Name:</label>
  <select name="producer_id" id="select_producer">
    <% @producers.each do |producer| %>
      <option disabled selected value=""></option>
      <option value=<%= producer.id %>><%= producer.producer_name.capitalize %></option>
    <% end %>
  </select>

  <input type="submit" value="Add Item">
</form>
