<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel='shortcut icon' href="/images/martini_glass.png" type='image/png'/>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Old Fashioned Cocktail Shop</title>
  </head>
  <body>
    <div class="image">
      <img src="/images/banner-bar-tools-and-mixology.jpg" alt="pouring cocktails banner">
    </div>
    <div class = "navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/producers">View All Producers</a></li>
        <li><a href="/cocktail-items">View All Cocktail Items</a></li>
        <li><a href="/cocktail-items/new">Create New Cocktail Item</a></li>
        <li><a href="/producers/new">Create New Producer</a></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
