<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel='shortcut icon' href="../public/images/martini_glass.png" type='image/png'/>
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    <title>Old Fashioned Cocktail Shop</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/producers">View All Producers</a></li>
        <li><a href="/cocktail-items">View All Cocktail Items</a></li>
        <li><a href="/cocktail-items/new">Create New Cocktail Item</a></li>
        <li><a href="/producers/new">Create New Producer</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
