<h1>Cocktail Item Producers</h1>

<% for producer in @producers %>
  <p> ID: <%= producer.id %></p>
  <p> Producer: <%= producer.producer_name %></p>
  <p> Product: <%= producer.cocktail_items.first.product_name %></p>
  <hr>

<% end %>
