<h1>Cocktail Item Producers</h1>

<table style="width:100%">
  <tr>
    <th>Producer Name</th>
    <th>Products</th>
  </tr>
  <% for producer in @producers %>
  <tr>
    <td><a href="/producers/<%= producer.id %>"><%= producer.producer_name %></a></td>
    <td> <% for cocktail_item in producer.cocktail_items %>
      <%= cocktail_item.product_name %> |
    <% end %>
    </td>
  <% end %>

</table>
