<h2>Add a new Producer</h2>

<form action="/producers" method="post">
 <label for="producer_name">Producer Name:</label>
 <input type="text" name="producer_name" id="producer_name">

  <input type="submit" value="Add Producer">
</form>
