<h1>Add a new Producer</h1>

<form action="/producers" method="post">
 <label for="producer_name">Producer Name:</label>
 <input type="text" name="producer_name" id="producer_name">

  <input type="submit" value="Add Item">
</form>
