<h2>Producer</h2>
<table style="width:60%">
  <tr>
    <th>Producer Name</th>
    <th>Products</th>
  </tr>
  <tr>
    <td><%= @producers.producer_name %></td>
    <td><%= @producers.id %></td>
  </tr>
</table>
<br>
<button class="button"><a href="/producers/<%= @producers.id %>/edit">Edit Item</a></button>
<form action="/producers/<%= @producers.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
